@tailwind base;
@tailwind components;
@tailwind utilities;

.profile-section{
  padding-top: 70px;
}

@media (max-width: 480px){
  .profile-section{
    padding-top: 120px;
  }
}
@media (max-width: 1025px){
  .profile-section{
    padding-top: 200px;
  }
}